.App {
  text-align: center;
  background: linear-gradient(#5f5cff, transparent);
  background-color: white;
}

.LineChart{
  height: 10vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Device-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
}

.DeviceCard{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 3px 2px gray;
  border-radius: 15px;
}

